In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import os
from sklearn.metrics import mutual_info_score
import warnings
warnings.filterwarnings("ignore")
from sklearn.preprocessing import LabelEncoder


def load_dataset(plant):
    print(f'loading plant {plant} data')
    train = pd.read_csv(f'../data/train_{plant}.csv', parse_dates=["时间"]).drop_duplicates().reset_index(drop=True)
    test = pd.read_csv(f'../data/test_{plant}.csv', parse_dates=["时间"])
    train.columns = ['time', 'irr', 'ws', 'wd', 'temp', 'pr', 'hm', 'mirr', 'power']
    test.columns = ['id', 'time', 'irr', 'ws', 'wd', 'temp', 'pr', 'hm']
    data = pd.concat([train, test])
    return data

PLANT = 1
data = load_dataset(PLANT)

In [4]:
data.head()

,hm,id,irr,mirr,power,pr,temp,time,wd,ws
0,-0.157895,NaN,-1.0,0.0,-0.019333,-0.030303,-0.090909,2016-04-01 00:15:00,251,-0.707547
1,-0.136842,NaN,-1.0,0.0,-0.021000,-0.030303,-0.107071,2016-04-01 00:30:00,250,-0.716981
2,-0.094737,NaN,-1.0,0.0,-0.022000,0.030303,-0.123232,2016-04-01 00:45:00,248,-0.726415
3,-0.073684,NaN,-1.0,0.0,-0.022000,0.030303,-0.135354,2016-04-01 01:00:00,244,-0.735849
4,-0.052632,NaN,-1.0,0.0,-0.022000,0.030303,-0.147475,2016-04-01 01:15:00,241,-0.754717

In [80]:
data.describe()

,hm,id,irr,mirr,power,pr,temp,wd,ws,year,quarter,month,hour,weekday,holiday
count,78666.000000,11808.000000,78666.000000,66858.000000,66858.000000,78666.000000,78666.000000,78666.000000,78666.000000,78666.000000,78666.000000,78666.000000,78666.000000,78666.000000,78666.000000
mean,-0.035280,5904.500000,-0.564965,236.341804,2.105609,0.090092,0.047678,157.565289,-0.663030,2016.971385,2.416190,6.179188,11.489741,2.993123,0.309969
std,0.453750,3408.820324,0.566251,342.082201,2.989093,0.281773,0.381076,94.124055,0.258608,0.787968,1.024544,3.148613,6.921806,1.999534,0.462483
min,-1.000000,1.000000,-1.000000,-0.020000,-0.073667,-1.000000,-1.000000,0.000000,-1.000000,2016.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,-0.410526,2952.750000,-1.000000,0.000000,-0.022000,-0.090909,-0.264646,90.000000,-0.849057,2016.000000,2.000000,4.000000,5.000000,1.000000,0.000000
50%,-0.073684,5904.500000,-0.937795,2.844670,0.000000,0.090909,0.074747,111.000000,-0.726415,2017.000000,2.000000,6.000000,11.000000,3.000000,0.000000
75%,0.326316,8856.250000,-0.153629,424.249000,4.149502,0.272727,0.349495,267.000000,-0.537736,2018.000000,3.000000,8.000000,17.000000,5.000000,1.000000
max,1.000000,11808.000000,1.000000,1303.110000,10.485300,1.000000,1.000000,359.000000,1.000000,2018.000000,4.000000,12.000000,23.000000,6.000000,1.000000